<!DOCTYPE html>
<html ng-app="listaTelefonica">
<head>
		<meta charset="utf-8">
		<title>Lista Telefonica</title>

<link rel="stylesheet" type="text/css" href="bootstrap-3.3.6-dist/css/bootstrap.css">
<style type="text/css">
		.jumbotron{
				text-align: center;
				margin-left: auto;
				margin-right:auto;
				margin-top: 20px;

		}

		.table {

				margin-top: 20px;
		}

		.form-control {
		 margin-top: 20px;
		}

		.selecionado{
				background-color: yellow;
		}
		.negrito{
				font-weight: bold;
		}

</style>
<script src="angular-1.5.5/angular.js"></script>
<script type="text/javascript">
	angular.module("listaTelefonica",[]);
	angular.module("listaTelefonica").controller("listaTelefonicaCtlr", function($scope){
			$scope.app="Lista Telefonica";
			$scope.contatos = [
				{nome:"Pedro",telefone:"44258679",cor:"blue"},
				{nome:"Nádia",telefone:"44258679",cor:"red"},
				{nome:"Márcia",telefone:"44258679",cor:"green"}
		 ];
		 $scope.operadoras = {
			 14:{nome : "Oi", codigo: 14 , categoria: "celular"},
			 15:{nome : "Vivo", codigo: 15 , categoria: "celular"},
			 56:{nome : "Tim", codigo: 56 , categoria: "celular"} ,
			 25:{nome : "GVT", codigo: 25 , categoria: "Fixo"} ,
			 21:{nome : "Embratel", codigo: 21 , categoria: "Fixo"}
		 };

			// não ler, ao máximo o scope dentro do controller
			 $scope.adicionarContato = function(contato) {
					 $scope.contatos.push(angular.copy(contato));
					 delete $scope.contato;
					 $scope.contatoForm.$setPristine();
			 };

			 $scope.apagarContatos = function(contatos){
					 $scope.contatos = contatos.filter(function(contato){
							 if(!contato.selecionado) return contato;
					 });
			 };

			$scope.isContatoSelecionado = function(contatos){
				return contatos.some(function(contato){
							return contato.selecionado;
			 });




			};


	});


</script>
</head>
<body ng-controller="listaTelefonicaCtlr">
		<div class="jumbotron">
				<!-- <h4 ng-bind="app"></h4> -->
				<h4>{{app + ' - Rodrigo'}}</h4>
				<table class="table table-stripped" ng-show="contatos.length > 0">
						 <th></th>
						 <th>Nome</th>
						 <th>Telefone</th>
						 <th>Operadora</th>
						 <th></th>



						<tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos">
								<td><input type="checkbox" ng-model="contato.selecionado"></td>
								<td>{{contato.nome}}</td>
								<td>{{contato.telefone}}</td>
								<td>{{contato.operadora.nome}}</td>
								<td><div style="width:20px;height:20px" ng-style="{'background-color': contato.cor}"></div></td>

						</tr>
						<!--
						 <tr ng-repeat="contato in contatos">
								<td ng-repeat="(key,value) in contato">{{value}}</td>
						</tr>
						 -->

				</table>
				<hr/>
				<form name="contatoForm"> <!-- form usa propriedade name -->
						<input type="text" class="form-control" ng-model="contato.nome" name="nome" placeholder="Nome" ng-required="true"/>
						<input type="text" class="form-control" ng-model="contato.telefone" name="telefone" placeholder="Telefone" ng-required="true"/>

						<select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras">
								<option value=""> Selecione uma operadora</option>
						</select>

						<!--
						<select class="form-control" ng-model="contato.operadora" ng-options="y.nome for (x,y) in operadoras">
								<option value=""> Selecione uma operadora</option>
						</select>
						-->
				</form>
				<br/>
				 <button class="btn btn-primary btn-block" ng_click="adicionarContato(contato)" >Adicionar Contato</button> <!-- ng-disabled="contatoForm.$invalid" -->
				<!--<button class="btn btn-primary btn-block" ng_click="adicionarContato(contato)" ng-disabled="!contato.nome || !contato.telefone" >Adicionar Contato</button> -->
				<button class="btn btn-danger btn-block" ng_click="apagarContatos(contatos)" ng-hide="!isContatoSelecionado(contatos)">Apagar</button>
				<button class="btn btn-danger btn-block" ng_click="apagarContatos(contatos)" ng-if="isContatoSelecionado(contatos)">Apagar</button>
				<!-- ng-if age como ng-show, só que ele age sobre a dom, ou seja, some com o elemento, não apenas não deixa aparecer. -->

			 <!-- <div nd-include="'footer.html'"></div> Incluiu um html! Legal pacas faz chamada ajax!-->

				<div ng-show="contatoForm.$invalid && contatoForm.$dirty" class="alert alert-danger">Preencha os campos!</div>
				<div ng-show="contatoForm.nome.$invalid && contatoForm.nome.$dirty" class="alert alert-danger">Preencha o nome</div>
				<div ng-show="contatoForm.telefone.$invalid && contatoForm.telefone.$dirty" class="alert alert-danger">Preencha o telefone</div>
			 <!-- $dirty significa que campo já foi tocado, ou já foi editado, $pristine é que esta no estado inicial não foi tocado -->
		</div>
		{{contatos}}
s
</body>
    
</html>
